@model IEnumerable<DBPortable.BuhReport>

@{
    ViewBag.Title = "Экспорт теплоэнергии Форма для бухгалтерии";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    System.Globalization.CultureInfo culture = System.Globalization.CultureInfo.CreateSpecificCulture("ru-RU");
    int i = 1;
}

<style type="text/css">
    table>thead>tr>th{
        border:1px solid #ddd;
    }

    .podacha {
        background-color: #ffeaea;
    }

    .obratka {
        background-color: #ddf5f7;
    }

    .total {
        background-color: #ffd800;
    }

    #expBtn{
        position:fixed;
        right:10px;
        z-index:5;
        margin:4px 0;
    }

    @@media screen and (max-width:1480px){
     #expBtn{
        position:relative;
        
    }
    }
</style>

@Html.Partial("topmenu")
<div style="margin-top:65px">
    <div style="text-align:center">
        <h2>Отчетные данные по теплоэнергии для бухгалтерии</h2> 
        <div>c @ViewBag.from.ToString("dd.MM.yyyy") по @ViewBag.to.ToString("dd.MM.yyyy")</div>
        <input id="expBtn" type="button" class="btn btn-warning" value="Экспорт в excel" />
    </div>


    <table id="tableExport" class="table table-condensed table-hover table-bordered" style="width:1200px; margin:0 auto">
        <thead style="background-color: #f7f7f7; ">
            <tr>
                <th rowspan="2" style="vertical-align:middle">№ пп</th>
                <th rowspan="2" style="vertical-align:middle">
                    Адрес
                </th>

                <th rowspan="2" style="vertical-align:middle">
                    Тип
                </th>
                <th rowspan="2" style="vertical-align:middle">
                    № теплосч
                </th>
                <th colspan="3" style="text-align:center">
                    Начало периода
                </th>

                <th colspan="3" style="text-align:center">
                    Конец периода
                </th>

                <th rowspan="2" style="text-align:right; vertical-align:middle">
                    Общий расход
                </th>


            </tr>
            <tr>

                <th style="text-align:right">
                    Подача
                </th>
                <th style="text-align:right">
                    Обратка
                </th>
                <th style="text-align:right">
                    Разность
                </th>
                <th style="text-align:right">
                    Подача
                </th>
                <th style="text-align:right">
                    Обратка
                </th>
                <th style="text-align:right">
                    Разность
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i.ToString()</td>
                    <td>
                        @item.Address
                    </td>
                    @*
                        <td>
                            @item.Phone
                        </td>
                    *@
                    <td>
                        @item.Uch
                    </td>

                    <td>
                        @item.ZavN
                    </td>

                    <td style="text-align:right;" class="podacha">
                        @item.PodHeatStart.ToString("0.#0",culture)
                    </td>
                    <td style="text-align:right;" class="obratka">
                        @item.ObrHeatStart.ToString("0.#0", culture)
                    </td>
                    <td style="text-align:right; font-weight:bold">
                        @item.startMonthHeatDiff.ToString("0.#0", culture)
                    </td>
                    <td style="text-align: right;" class="podacha">
                        @item.PodHeatEnd.ToString("0.#0", culture)
                    </td>
                    <td style="text-align: right;" class="obratka">
                        @item.ObrHeatEnd.ToString("0.#0", culture)
                    </td>
                    <td style="text-align: right; font-weight: bold">
                        @item.endMonthHeatDiff.ToString("0.#0", culture)
                    </td>
                    <td style="text-align: right; font-weight: bold;" class="total">
                        @item.HeatUsed.ToString("0.#0", culture)
                    </td>
                    
                </tr>
                i++;
            }
        </tbody>
    </table>

</div>

@section Scripts{
<script src='@Url.Content("~/js/manualExcel.js")'></script>
<script type="text/javascript">
    $("#expBtn").click(function () {
        tableToExcel('tableExport', 'List 1');
    });
</script>

}
