@model IEnumerable<DBPortable.EnergosbitXls>
@using System.Globalization;
@{
    ViewBag.Title = "Отчет потребления по объектам";
    Layout = "~/Views/Shared/MainLayout.cshtml";

    CultureInfo culture = CultureInfo.CreateSpecificCulture("ru-RU");
}

@section css{
<style type="text/css">
    #export {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 12px;
        font-family: 'Times New Roman';
    }

        #export thead {
            box-shadow:2px 0px 2px 1px gray;
        }

        #export td, #export th {
            padding: 1px 2px;
            border: 1px solid #bcbfb1;
            word-break: normal;
        }

        #export th {
            text-align: center;
            vertical-align: middle;
        }

    .podacha {
        background-color: #fff4f4;
    }
    .obratka {
        background-color: #eff8ff;
    }

    .fix {
        height: 45px;
        width: 100%;
        position: fixed;
        top: 0px;
        background-color: #bad5e9;
        border-bottom: 1px solid gray;
        background: rgba(169, 203, 227, 0.8);
    }

    .fix h2{
        margin-top:0px;
    }
</style>
}
<div class="fix">
    <button class="btn btn-success exp" value="1" style="margin:3px; float:left">В excel</button>
    <a class="btn btn-default pull-right" style="margin:3px;" href='@Url.Action("Index","Initialize")' target="_self">На главную</a>
    <h2 class="text-center">Отчет потребления по объектам для Энергосбыта</h2>
    
    
</div>

<table style="margin-top:46px" id="export">
    <thead>
        <tr>
            <th rowspan="2" style="font-weight:bold;">Зав. № теплосчетчика</th>
            <th rowspan="2">№ ЖЭУ</th>
            <th rowspan="2">Адрес</th>
            <th rowspan="2">Код счетчика в нумерации энергосбыта</th>
            <th rowspan="2">Тип счетчика</th>
            <th rowspan="2">Признак учета (1-отопл; 2 - ГВС; 3 - общ)</th>
            <th rowspan="2">Дата снятия показаний</th>
            <th rowspan="2">Время снятия показаний</th>
            <th colspan="4" class="podacha">Подающий трубопровод</th>
            <th colspan="4" class="obratka">Обратный трубопровод</th>
            <th rowspan="2">Температура холодной воды</th>
            <th rowspan="2">Время работы прибора</th>
            <th rowspan="2">Время работы прибора с ошибкой</th>
            <th rowspan="2">Код сч. группового учета в кодировке энергосбыта</th>
            <th rowspan="2"></th>
            <th rowspan="2"></th>
            <th rowspan="2"></th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th class="podacha">Показания прибора учета тепла</th>
            <th class="podacha">Расход сетевой воды</th>
            <th class="podacha">Мгновенный расход</th>
            <th class="podacha">Температура</th>
            <th class="obratka">Показания прибора учета тепла</th>
            <th class="obratka">Расход сетевой воды</th>
            <th class="obratka">Мгновенный расход</th>
            <th class="obratka">Температура</th>
        </tr>
        <tr>
            <th>zavn</th>
            <th>kju</th>
            <th>adr</th>
            <th>Kod_Ch</th>
            <th>tipsh</th>
            <th>Uch</th>
            <th>dat</th>
            <th>vrem</th>
            <th class="podacha">Q1</th>
            <th class="podacha">V1</th>
            <th class="podacha">G1</th>
            <th class="podacha">tpod</th>
            <th class="obratka">Q2</th>
            <th class="obratka">V2</th>
            <th class="obratka">G2</th>
            <th class="obratka">tobr</th>
            <th>txv</th>
            <th>Trab</th>
            <th>Trab_o</th>
            <th>N_GrUch</th>
            <th>Qотоп</th>
            <th>Qгвс</th>
            <th>МесР</th>
            <th>ГодР</th>
        </tr>
    </thead>
    <tbody>
        @foreach(DBPortable.EnergosbitXls item in Model)
        { 
        <tr>
            <td title="Зав. № теплосчетчика">@item.ZavN</td>
            <td>@item.Ngao.ToString()</td>
            <td>@item.Address</td>
            <td title="Код счетчика в нумерации энергосбыта">@item.KodSchSbut</td>
            <td title="Тип счетчика">@item.TipSh</td>
            <td class="text-center">@item.UchCode</td>
            <td>
            @if (item.DatePod != default(DateTime))
            {
                @item.DatePod.ToString("dd.MM.yyyy");
            }
            
            <td>
                @if (item.DatePod != default(DateTime))
                {
                    @item.DatePod.ToString("HH:mm:ss");
                }
            <td title="Показания прибора учета тепла" class="podacha">@item.PodHeat.ToString("f2",culture)</td>
            <td title="Расход сетевой воды" class="podacha">@item.PodWaterLoseAll.ToString("f0",culture)</td>
            <td title="Мгновенный расход воды" class="podacha">@item.PodWaterLose.ToString("0.0#",culture)</td>
            <td title="Температура подачи" class="podacha">@item.TempIn.ToString("f0",culture)</td>
            <td title="Показания прибора учета тепла" class="obratka">@item.ObrHeat.ToString("f2",culture)</td>
            <td title="Расход сетевой воды" class="obratka">@item.ObrWaterLoseAll.ToString("f0",culture)</td>
            <td title="Мгновенный расход воды" class="obratka">@item.ObrWaterLose.ToString("0.0#",culture)</td>
            <td title="Температура обратки" class="obratka">@item.TempOut.ToString("f0",culture)</td>
            <td title="Температура холодной воды">@item.TempCold.ToString("f0",culture)</td>
            <td title="Время работы прибора">@item.TotalWorkHours.ToString()</td>
            <td></td>
            <td></td>
            <td>@(item.isOtop?"ИСТИНА":"ЛОЖЬ")</td>
            <td>@(item.isGvs?"ИСТИНА":"ЛОЖЬ")</td>
            <td>@item.period.Month.ToString()</td>
            <td>@item.period.Year.ToString()</td>
        </tr>
        }
      
    </tbody>
</table>


@section Scripts{
<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })();

    $(".exp").click(function () {
        tableToExcel('export','List 1');
    });
</script>
}
