@model IEnumerable<SelectListItem>
@{ 
    ViewBag.Title = "Отчет по 2 датам";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@Html.Partial("topmenu")

@section Css{
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/css/bootstrap-datetimepicker.css")'>
}

<div class="container" style="margin-top: 65px">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h2 class="text-primary">Сводный отчет по объектам на основе показаний за период</h2>
        </div>
    </div>
    @using (Html.BeginForm("ToExcel", "Report", FormMethod.Post, new { @class = "form" }))
    {
    <div class="row">
       
        <div class="col-md-3 col-lg-3 col-sm-6">
            Начальная дата
            <input type="text" id="from" name="from" required class="form-control"/>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6">
            Конечная дата
            <input type="text" id="to" name="to" required class="form-control" />
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6">
            Группа объектов
            @Html.DropDownList("GroupId", Model, new { @class = "form-control" })
           
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6">
            Тип показаний
            <select id="TypeId" name="TypeId" class="form-control">
                <option value="0">Все</option>
                <option value="2">ГВС</option>
                <option value="1">ОТОПЛЕНИЕ</option>
                
            </select>
        </div>
    </div>
    <div class="row" style="margin-top:25px">
        
        <div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Формы отчетов
                </div>
                <div class="panel-body">
                    <div class="row" style="padding:2px 0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a id="ReportToScreen" href="#" class="btn btn-default" title="Вывести таблицу отчета на экран (не требуется установка excel)">В энергосбыт (на экран)</a>
                        </div>
                    </div>
                    <div class="row" style="padding:2px 0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" class="btn btn-warning" value="В энергосбыт (Excel)" title="На компьютере обязательно должен быть установлен Microsoft Office Excel" />
                        </div>
                    </div>

                    <div class="row" style="padding:2px 0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a id="ReportBuh" href="#" class="btn btn-default" title="">В бухгалтерию (на экран)</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    }
    </div>
@section Scripts {
<script type="text/javascript" src='@Url.Content("~/js/moment-with-locales.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/js/bootstrap-datetimepicker.js")'></script>

<script type="text/javascript">
    $(function () {
        $("#from").datetimepicker({
            inline: false,
            locale: 'ru',
            sideBySide: true,
            defaultDate: moment().subtract(30, 'd'),
            maxDate: new Date(),
            format: 'DD.MM.YYYY'
        });

        $("#to").datetimepicker({
            inline: false,
            locale: 'ru',
            sideBySide: true,
            defaultDate: new Date(),
            //minDate: moment(),
            maxDate: new Date(),
            format: 'DD.MM.YYYY'
        });


        $("#ReportToScreen").click(function (e) {
            window.location.href = '@Url.Action("GoReport","Report")' + '?from=' + moment($("#from").val(), 'DD.MM.YYYY').toISOString() + '&to=' + moment($("#to").val(), 'DD.MM.YYYY').toISOString() + '&GroupId=' + $("#GroupId").val() + "&TypeId=" + $("#TypeId").val();
            e.preventDefault();
            return false;
        });

        
        $("#ReportBuh").click(function (e) {
            window.location.href = '@Url.Action("Buhgaltery","Report")' + '?from=' + moment($("#from").val(), 'DD.MM.YYYY').toISOString() + '&to=' + moment($("#to").val(), 'DD.MM.YYYY').toISOString() + '&GroupId=' + $("#GroupId").val() + "&TypeId=" + $("#TypeId").val();
            e.preventDefault();
            return false;
        });
            
    });
    </script>
    }
