@model List<DBPortable.Regions>


<table class="table table-condensed">
    <tr>
        <th>
            Id
        </th>
        <th>
            Название группы
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            <a class="editGroupLink" href="#" data-edit-id="@item.Id">Изменить</a>|           
            <a class="deleteGroupLink" href="#" data-del-id="@item.Id">Удалить</a>            
        </td>
    </tr>
}

</table>

<div class="panel panel-default">
    <div class="panel-heading">Добавление записи</div>
    <div class="panel-body">
        <form name="addRegionForm" action='@Url.Action("ListRegions","Admin")' method="POST">
            <label for="newName">Название подгруппы объектов</label>
            <br/>
            <textarea name="newName" required="required" rows="1" cols="30"></textarea>
            <input type="submit" id="addGroupLink" value="Добавить" class="btn btn-sm btn-default" />

        </form>
    </div>
</div>

<p>
    <span class="text-danger">
        
        @(ViewBag.Message??"")
    </span>
</p>

 @*<script src='@Url.Content("~/js/jqueryval/jquery.validate.min.js")'></script>
 <script src='@Url.Content("~/js/jqueryval/jquery.validate.unobtrusive.min.js")'></script>*@

<script type="text/javascript">

    $(function() {
        $("form[name='addRegionForm']").submit(
            function (event) {

                var valid = $(this).valid();
                
                if(valid){
                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        data: $(this).serialize(),
                        beforeSend: function () { showLoading(true); },
                        success: function (response) {
                            $("#editDbContainer").html(response);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $("#editDbContainer").html("<h4 class='text-danger'>Возникла ошибка! Подробные сведения можно помотреть в консоли браузера</h4>");
                            console.log(xhr.responseText);
                        }
                    });
                }
                if (event.preventDefault) event.preventDefault();
                event.returnValue = false;
                return false;
            });
    });


    $("a.deleteGroupLink").click(function () {
        if (confirm("Уверены что хотите удалить справочные данные по этой записи?")) {
            $.ajax({
                url: '@Url.Action("DeleteRegion")',
                type: 'POST',
                data: {'id':$(this).attr('data-del-id')},
                beforeSend: function () { showLoading(true); },
                success: function (response) {
                    $("#editDbContainer").html(response);
                    showLoading(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#editDbContainer").html("<h4 class='text-danger'>Возникла ошибка! Подробные сведения можно помотреть в консоли браузера</h4>");
                    console.log(xhr.responseText);
                    showLoading(false);
                }
            });
            return false;
        }
    });
   
    $("a.editGroupLink").click(function () {
            $.ajax({
                url: '@Url.Action("EditRegion")',
                type: 'GET',
                data: { 'id': $(this).attr('data-edit-id') },
                beforeSend: function () { showLoading(true); },
                success: function (response) {
                    $("#editDbContainer").html(response);
                    showLoading(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#editDbContainer").html("<h4 class='text-danger'>Возникла ошибка! Подробные сведения можно помотреть в консоли браузера</h4>");
                    console.log(xhr.responseText);
                    showLoading(false);
                }
            });
            return false;
    });

</script>

