@model IEnumerable<DBPortable.Events>


<div class="table-responsive" style="max-height: 400px; overflow-y: auto">
    <table class="table table-condensed">
    <tr>
        <th>
            № sim
        </th>
        <th title="Порядковый номер сообщения">№ п.п <span class="glyphicon glyphicon-chevron-down"></span></th>
        <th>
            Время получ. инф. о событии
        </th>
        <th>
            Тип события
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>@item.EventNum.ToString()</td>
        <td>
            @item.EventTime.ToString("dd MMM yyyy HH:mm:ss")
        </td>
        <td style="vertical-align:middle">
                @switch (item.EventValue)
{
    case 0:  <span class="bg-success"><img width="20px" src='@Url.Content("~/img/close_.jpg")' title="Состояние закрыто" /> <span>cостояние закрыто</span></span>
        break;
    case 1: <span class="bg-danger"><img width="20px" src='@Url.Content("~/img/open_.jpg")' title="Состояние открыто"/> <span>cостояние открыто</span></span>
                    break;
                    default: <img width="20px" src='#' title="Состояние неопределено: @item.EventValue.ToString()"/> <span>cостояние неопределено</span>
                    break;
                }

              
            </td>
        
    </tr>
}

</table>
</div>
<div class="text-right text-muted">*отображены последние 20 сообщений</div>

