@using System.Globalization
@using MonoIndication
@model List<MonoIndication.ItpRow>

@if (Model.Any())
{  
    
        foreach (ItpRow item in Model)
        {
            if(item.KonturInfo.N%2==0)
            {
                <div class="clearfix"></div>
            }
        <div class="col-md-6 col-sm-6">
            <table class="table table-condensed tableKontur"  style='border: 1px solid lightgray;'>
                <thead style="border: 1px solid lightgray; background-color: @(item.KonturInfo.N % 2 == 0 ? "#ffefef" : "#eef3fb")">
                    <tr>
                        <th colspan="2" class="text-center" style="color: #de5a53; font-size:20px">
                            КОНТУР №@item.KonturInfo.N "@item.KonturInfo.Name.ToUpper()"
                        </th>
                    </tr>
                    <tr style="background-color: #BDE3F4">
                        <th style="width:60%">НАЗВАНИЕ ПАРАМЕТРА</th>
                        <th class="text-right">ЗНАЧЕНИЕ ПАРАМЕТРА</th>
                    </tr>
                </thead>
                <tbody>
                    @if (item.HeatLastInfo != null)
                    {
                        <tr>
                        <td class="label_table">Время получения данных</td>
                        <td class="value text-right">@item.HeatLastInfo.recvDate.ToString("dd MMM yy г. HH:mm:ss", CultureInfo.CreateSpecificCulture("ru-RU"))</td>
                    </tr>
                    <tr>
                        <td class="label_table">Показания теплоэнергии <small>[Гкал.]</small></td>
                        <td class="value text-right">@item.HeatLastInfo.heatValue.ToString("#0.0#")</td>
                    </tr>
                    <tr>
                        <td class="label_table">Мощность [Ккал/ч]</td>
                        <td class="value text-right">@item.HeatLastInfo.powerValue.ToString("#0.0#")</td>
                    </tr>
                    <tr>
                        <td class="label_table">Объёмный расход воды (текущий) <small>[м<sup>3</sup>/ч]</small></td>
                        <td class="value text-right">
                            @if (item.KonturInfo.VNorma > 0 && (item.HeatLastInfo.waterLose < item.KonturInfo.VNormaMin || item.HeatLastInfo.waterLose > item.KonturInfo.VNormaMax))
                            {
                                <span class="warning_event" title="Текущий расход выходит за пределы допустимого диаппазона">@item.HeatLastInfo.waterLose.ToString("#0.0#")</span>
                            }else
                            {
                                <span>@item.HeatLastInfo.waterLose.ToString("#0.0#")</span>
                            }
                        
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right" style="border-top:none; font-size:16px">
                            @if (@item.KonturInfo.VNorma > 0)
                            {
                                @: норма расхода, <small>[м<sup>3</sup>/ч]</small>: <span class="text-success">@item.KonturInfo.VNormaMin.ToString("#0.0#")</span>~<span class="text-success">@item.KonturInfo.VNormaMax.ToString("#0.0#")</span>
                            }else
                            {
                                @: норма расхода не задана
                            }
                        
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="label_table">Объёмный расход воды (общий) <small>[м<sup>3</sup>]</small></td>
                        <td class="value text-right">@item.HeatLastInfo.waterLoseAll.ToString("#0.0#")</td>
                    </tr>
                    <tr>
                        <td class="label_table">Температура подачи <small>[C&deg;]</small></td>
                        <td class="value text-right">
                            @if (item.KonturInfo.Name.ToLower().Contains(System.Configuration.ConfigurationManager.AppSettings["TempControl"]) && item.GetCurrentNominal() != null)
                            {
                                if(item.GetCurrentNominal().PodTemp > item.HeatLastInfo.tempIn)
                                {
                                    <span class="warning_event" title='Температура подачи не соответствует норме. Норма @item.GetCurrentNominal().PodTemp.ToString("#0.0")'>@item.HeatLastInfo.tempIn.ToString("#0.0")</span>
                                }else
                                {
                                    <span title='Норма @item.GetCurrentNominal().PodTemp.ToString("#0.0")'>@item.HeatLastInfo.tempIn.ToString("#0.0")</span>
                                }
                                
                            }else
                            {
                                @item.HeatLastInfo.tempIn.ToString("#0.0")
                            }
                        
                        </td>
                    </tr>
                    <tr>
                        <td class="label_table">Температура обратки <small>[C&deg;]</small></td>
                        <td class="value text-right">
                            @if (item.KonturInfo.Name.ToLower().Contains(System.Configuration.ConfigurationManager.AppSettings["TempControl"]) && item.GetCurrentNominal() != null)
                            {
                                if (item.GetCurrentNominal().ObrTemp > item.HeatLastInfo.tempOut)
                                {
                                    <span class="warning_event" title='Температура обратки не соответствует норме. Норма @item.GetCurrentNominal().ObrTemp.ToString("#0.0")'>@item.HeatLastInfo.tempOut.ToString("#0.0")</span>
                                }
                                else
                                {
                                    <span title='Норма @item.GetCurrentNominal().ObrTemp.ToString("#0.0")'>@item.HeatLastInfo.tempOut.ToString("#0.0")</span>
                                }

                            }
                            else
                            {
                                @item.HeatLastInfo.tempOut.ToString("#0.0")
                            }


                        
                        </td>
                    </tr>

                    <tr>
                        <td class="label_table">Температура хол носителя [C&deg;]</td>
                        <td class="value text-right">@item.HeatLastInfo.tempCold.ToString("#0.0")</td>
                    </tr>

                    <tr>
                        <td class="label_table">Текущий массовый расход воды <small>[т/ч]</small></td>
                        <td class="value text-right">@item.HeatLastInfo.presure1.ToString("#0.0#")</td>
                    </tr>
                    <tr>
                        <td class="label_table">Накопленный массовый расход воды <small>[т]</small></td>
                        <td class="value text-right">@item.HeatLastInfo.presure2.ToString("#0.0#")</td>
                    </tr>
                    <tr>
                        <td class="label_table">Давление <small>[МПа]</small></td>
                        <td class="value text-right">@item.HeatLastInfo.waterPress.ToString("#0.0#")</td>
                    </tr>
                    <tr>
                        <td class="label_table">Время наработки <small>[ч]</small></td>
                        <td class="value text-right">
                            @item.HeatLastInfo.totalWorkHours.ToString()
                        </td>
                    </tr>
                    <tr>
                        <td class="label_table">Время раб с ошибкой <small>[ч]</small></td>
                        <td class="value text-right">
                            @item.HeatLastInfo.workWithError.ToString()
                        </td>
                    </tr>
                    <tr>
                        <td class="label_table">Ошибки</td>
                        <td class="value text-right" style="line-height:0.9">
                            <span style="font-size:13px" class='@(item.HeatLastInfo.errorList.Trim().Length>0?"text-danger":"text-success")'>@item.HeatLastInfo.errorList</span>
                        </td>
                    </tr>
                    }else
                    {
                        <tr>
                            <td colspan="2" class="text-center text-danger">
                                Отсутствуют данные по контуру
                            </td>
                        </tr>
                    }
                    

                </tbody>
            </table>
        </div>
    
          
        }


}
else
{
    <div class="col-md-12 col-sm-12 text-center">
        <h4 class="bg-danger">Не заведено ни одного контура на объекте. Добавьте имеющиеся подключенные счетчики в базу по кнопке "Контуры"</h4>
    </div>
}


