@model MonoIndication.ReplaceValueVM


<form name="ReplaceCounterForm" id="ReplaceCounterForm" method="POST" action='@Url.Action("ReplaceCounter","Itp")'>
    <table style="width: 100%">
        <tr>
            <td style="padding: 5px; vertical-align: top; font-size: 16px; width:60%">
                Показания старого счетчика на момент замены (ГКал)
            </td>
            <td style="padding: 5px;  ">
                <input type="text" class="form-control text-center digitInfo" name="vm.MinValueHeatOld" id="MinValueHeatOld" value='@Model.MinValueHeatOld.ToString("0.00")' data-val="true" data-val-required="Значение не заполнено" data-val-range='Значение не может быть меньше последного полученного показания! [@Model.MinValueHeatOld.ToString("0.00")]' data-val-range-min='@Model.MinValueHeatOld.ToString("0.00")'/>
                <div data-valmsg-replace="true" data-valmsg-for="vm.MinValueHeatOld" />
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;  vertical-align: top; font-size: 16px">
                Показания нового счетчика на момент замены (ГКал)
            </td>
            <td style="padding: 5px">
                <input type="text" class="form-control text-center digitInfo" name="vm.MaxValueHeatNew" id="MaxValueHeatNew" value='@Model.MaxValueHeatNew.ToString("0.00")' data-val="true" data-val-required="Значение не заполнено" data-val-range='Значение не может быть больше последнего полученного показания! [@Model.MaxValueHeatNew.ToString("0.00")]' data-val-range-min="0" data-val-range-max='@Model.MaxValueHeatNew.ToString("0.00")'/>
                <div data-valmsg-replace="true" data-valmsg-for="vm.MaxValueHeatNew" />
            </td>
        </tr>
    </table>
    <input type="hidden" name="Id" value='@(ViewBag.Id??-1)'/>
    <input type="submit" value="Рассчитать" class="btn btn-success"/>
</form>

    


<script type="text/javascript">
    
    $(function () {
        
        $.validator.unobtrusive.parse($("#ReplaceCounterForm"));
        // POST запррос на сервер с параметрами замены счётчика
        $("form[name='ReplaceCounterForm']").submit(
            function(event) {

                var valid = $(this).valid();

                if (valid) {
                    $("#modalWindow").modal('hide');

                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        data: $(this).serialize(),
                        beforeSend: function () {
                            showLoading(true);
                        },
                        success: function(response) {
                            createModal("Скорректированные показания теплоэнергии", response, "");
                        },
                        complete: function() {
                            showLoading(false);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Ошибка отправки запроса!');
                            console.log(xhr.responseText);
                        }
                    }); 
                }
                if (event.preventDefault) event.preventDefault();
                event.returnValue = false;
                return false;
            });
    });
</script>