@{
    ViewBag.Title = "Опрос объектов в базе";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    string socketAddr = System.Configuration.ConfigurationManager.AppSettings["SocketAddr"] ?? "localhost:50000";
}

@Html.Partial("topmenu")

<div class="container-fluid" style="margin: 45px 0" ng-app="request" ng-controller="reqctrl" ng-init="init('ws://@socketAddr')">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-muted">Выберите объекты для отправки запроса</h2>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="allchecked" ng-click="checkall()" /></th>
                        <th>ИД</th>
                        <th>Адрес</th>
                        <th>№ ЖЭУ</th>
                        <th>№ sim</th>
                        <th>Описание</th>
                        <th title="Время последнего отправленого запроса на счетчик">Время посл. запроса</th>
                        <th>Время получения данных</th>
                        <th title="Статус получения данных от счетчика, анализируется по времени запроса и времени получения данных">Статус ответа</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in objects | orderBy:'addres'">
                    <tr>
                        <th><input type="checkbox" ng-model="item.checked" /></th>
                        <td ng-bind="item.id"></td>
                        <td><a href='@Url.Action("Index", "Itp")?id={{item.id}}' target="_self">{{item.addres}}</a></td>
                        <td ng-bind="item.ngao"></td>
                        <td ng-bind="item.phone"></td>
                        <td ng-bind="item.descr"></td>
                        <td title="Время последнего отправленого запроса на счетчик" ng-bind="prettyDate(item.reqTime)"></td>
                        <td ng-bind="prettyDate(item.dataTime)"></td>
                        <td ng-switch on="item.reqStat">
                            <span class="text-muted" ng-switch-when="-1">не опрашив.</span>
                            <span class="bg-danger" ng-switch-when="0">ожидание</span>
                            <span class="bg-success" ng-switch-when="1">получен</span>
                            <span ng-switch-default>не известн.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer_fixed">
        <input id="sendBtn" ng-disabled="!websocketconnect" type="button" class="btn btn-success" ng-click="sendRequest()" value="Отправить запрос" />
        <span id="message" ng-class="{'bg-danger':!websocketconnect, 'bg-success':websocketconnect}" ng-bind="connectMessage()"></span>
        <span style="font-size:16px; color:#5b945c; float:right">Время обновления:{{prettyDate(updatedTime)}}</span>
    </div>
</div>


@section Scripts{
<script src="~/js/moment-with-locales.min.js"></script>

    <script type="text/javascript">
        moment.locale('ru-RU');
    </script>
<script type="text/javascript" src='@Url.Content("~/js/angular/angular.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/js/angular/angular-websocket.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/js/angular/request/request.js")'></script>
}